<form action="" id="searchbox_005796720741527848403:oz9e431ph60" onsubmit="return false;">
  <div>
    <input type="text" name="q" size="20"/>
    <input type="submit" value="Search"/>
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_005796720741527848403%3Aoz9e431ph60&amp;lang=en"></script>

<div id="results_005796720741527848403:oz9e431ph60" style="display:none">
  <div class="cse-closeResults">
    <a>&times; Schließen</a>
  </div>
  <div class="cse-resultsContainer"></div>
</div>

<style type="text/css">
@import url(http://www.google.com/cse/api/overlay.css);
</style>

<script src="http://www.google.com/uds/api?file=uds.js&amp;v=1.0&amp;key=ABQIAAAACjfnLFOC09JGqk-f4wOwZRSp-dpKFJOxPonbmD0I6FKrJyAwAxQxKe68xTCbGjDGDBjeTqWpeH1FGg&amp;hl=en" type="text/javascript"></script>
<script src="http://www.google.com/cse/api/overlay.js" type="text/javascript"></script>
<script type="text/javascript">
function OnLoad() {
  new CSEOverlay("005796720741527848403:oz9e431ph60",
                 document.getElementById("searchbox_005796720741527848403:oz9e431ph60"),
                 document.getElementById("results_005796720741527848403:oz9e431ph60"));
}
GSearch.setOnLoadCallback(OnLoad);
</script>
